/* FOOTER */

.footer {
    @include box-size(100%, 180px);
    padding: 1rem;
    background-color: $color-secondary;
    display: grid;
    grid-template-areas:
        'redes others'
        'creator creator';
}

.footer__redes {
    grid-area: redes;

}

.footer__redes__title {
    @include font-style(1rem, $font-bold, $font-color);
    padding-left: 1.4rem;
}

.footer__redes__list li {
    @include font-style(0.875rem, normal, $font-color);
    list-style: none;
    margin: 10px 0;

}

.footer__redes__list__icon {
    width: 32px;
}

.footer__others {
    grid-area: others;
    text-align: right;
    padding-right: 1.5rem;

}

.footer__others__title {
    @include font-style(1rem, $font-bold, $font-color);
}

.footer__others__list li {
    @include font-style(0.875rem, normal, $font-color);
    list-style: none;
    margin: 10px 0;
    margin-right: 10px;

}

.footer__others__list__icon {
    width: 32px;
}

.footer__owner {
    grid-area: creator;
    text-align: center;
    width: 100%;
    color: $font-color;

}

.footer__owner__name {
    @include font-style(1rem, $font-bold - 100, $color-tertiary);
}