/* HEADER */

.header {
    @include box-size(250px, 100%);
    background: $color-secondary;
    padding-top: 2.5rem;

    nav {
        position: sticky;
        top: 100px;
    }

}

.header__title {
    position: sticky;
    top: 15px;

    img {
        width: 250px;
    }
}

.header__navlist {
    padding-left: 10px;
    @include box-size(100%, 100%);
    margin-top: 2rem;

    li {
        list-style: none;
        margin: 8px 0;

        a {
            color: $color-tertiary;
            padding: $btn-padding;
            border-radius: 9px;
            transition: .15s all;
            text-decoration: none;
            font-weight: $font-bold;

            &:hover {
                background-color: $color-tertiary;
                color: #222;
            }
        }
    }
}

.header__navmobilemenu {
    display: none;
}