/* MAIN */

.main {
    @include flex-column;
    @include box-size(1200px, 100%);
    align-items: center;
    padding-top: 2.5rem;
}

.main__article {
    @include box-size(100%, auto)
}

.main__article__title {
    text-align: center;
    font-weight: $font-bold;
}

.main__productcontainer {
    @include flex-column;
    gap: 3rem;
}

.main__productcontainer__title {
    font-weight: $font-bold - 100;
    margin-top: 50px;
    margin-bottom: 20px;
}

.main__productcontainer__section {
    @include flex-column;
    gap: 2rem;
    padding: 3rem 0;
}

.main__productcontainer__section h3 {
    @include font-style(1.6rem, $font-bold - 100, #000);
}

.main__productcontainer__section__cardcontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
}

.main__productcontainer__section__cardcontent__card {
    @include flex-column;
    @include box-size(350px, 500px);
    @include center;
    border: 1px solid #555;
    border-radius: 1.5rem;
    padding: 1rem;

    img {
        @include box-size(300px, 300px);
        border-radius: 1.5rem;
    }
}

.main__productcontainer__section__cardcontent__card__info {
    @include flex-column;
    @include center;
    width: 100%;
    border-top: 2px solid $color-secondary;
    gap: 1rem;
    padding-top: 2rem;
}

.main__header {
    @include flex-column;
    margin: 3rem 0 0 0;
}


.main__header__p {
    padding: 1rem;
    margin: 0;
}


.main__header__title {
    text-align: center;
    margin: 2rem 0;
}

.main__header__form {
    @include center;
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: #777;
    border-radius: .5rem;

    input {
        @include box-size(100%, 2.4rem);
        border-radius: .5rem;
        padding: 0 .5rem;
        border: 2px solid #777;
        outline: none;
        background-color: transparent;
        color: $font-color;

        &::placeholder {
            color: $font-color;
        }
    }

    button {
        @include box-size(100px, 2.4rem);
        border-radius: .5rem;
        padding: $btn-padding;
        border: 2px solid #777;
    }
}