@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@import "variables", "mixin", "reset", "body", "header", "main", "footer", "sucursales", "nosotros", "contacto", "querys", "animations", "volverArriba";

/* Ocultar la navegación para celular */
.mobilemenu {
    display: none;
}

/* CSS de funcionamiento del Menu */
.flex {
    display: flex;
}

.hidden {
    display: none;
}